<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ui">
    <test name="demo">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.academy.project.DemoTests" />
        </classes>
    </test>
</suite>